@import './variables.scss';

*
{
    box-sizing: border-box;
}

img
{
    max-width: 100%;
    height: auto;
}

.sr-only
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.flex,
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row
{
    align-items: stretch;
}

[class*=column]
{
    padding: .5em 1em;
    width: 100%;
}


@include breakpoint(tablet)
{
  .column-50
  {
    width: 50%;
  }
}
